<div class="view" layout="column">
  <div class="page-title">
    <h1 class="md-title">Play</h1>
    <md-checkbox
      ng-model="vm.autoplay"
      aria-label="Autoplay"
      ng-click="vm.toggleAutoplay()"
    >
      Autoplay
    </md-checkbox>
  </div>
  <div class="input-container">
    <input
      type="text"
      ng-model="vm.query"
      ng-change="vm.updateVideoSrc(vm.query)"
      placeholder="Paste any valid YouTube URL to load the video..."
      class="custom-input"
    >
  </div>
  <div
    class="error"
    ng-show="!vm.valid"
  >
    Not a valid YouTube URL...
  </div>
  <iframe-directive
    video-id="{{vm.videoId}}"
    autoplay="vm.autoplay"
  />
</div>
