<div class="view" layout="column">
  <div class="page-title">
    <h1 class="md-title">Search</h1>
    <md-checkbox
      ng-model="vm.autoplay"
      aria-label="Autoplay"
      ng-click="vm.toggleAutoplay()"
    >
      Autoplay
    </md-checkbox>
  </div>
  <div class="input-container">
    <md-autocomplete
      md-selected-item="vm.selectedVideo"
      md-selected-item-change="vm.updateVideoSrc()"
      md-search-text="vm.query"
      md-items="item in vm.getMatches(vm.query)"
      md-item-text="item.snippet.title"
      placeholder="Start typing to search YouTube via the YouTube API..."
    >
      <md-item-template>
        <img
          src="{{item.snippet.thumbnails.default.url}}"
          alt="{{item.snippet.channelTitle}}"
        />
        <span
          md-highlight-text="vm.query"
          md-highlight-flags="i"
        >
          {{item.snippet.title}}
        </span>
      </md-item-template>
    </md-autocomplete>
  </div>
  <iframe-directive
    video-id="{{vm.videoId}}"
    autoplay="vm.autoplay"
  />
</div>
