* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

md-content,
[ng-app="videoApp"] {
  height: 100%;
  width: 100%;
}

md-content,
md-nav-bar {
  display: flex;
  flex-direction: column;
}

ui-view {
  display: flex;
  flex-direction: column;
  flex: 1;
}

iframe,
.search-view {
  flex: 1;
}
